/* Layout shamelessly ripped out from https://docs.python.org/2/ */

pre {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #eeffcc;
    border-color: #ac9 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    color: #333333;
    line-height: 120%;
    padding: 5px;
}

h1 { font-size: 200%; margin-top: 0; }
h2 { font-size: 160%; }
h3 { font-size: 140%; }

h1.title { text-align: center ; font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    color: #20435c;
    font-family: sans-serif;
    font-weight: normal;
    margin: 20px -20px 10px;
    padding: 3px 0 3px 20px;
}
